<!DOCTYPE html>
<html lang="en">
<head>
	<!--css--> 	
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans">
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

	<!--jqueries and bubble settings-->
	<script src="js/jquery-1.11.0.min.js"></script>
</head> <!--end of head-->
	<body>

		<div id="container">

			<div id="status">
				<img id="status_bar" src="images/status_bar.png">
			</div>

			<div id="header">
				<a href="#"><img id="home_button3" src="images/homepage.png"></a>
				<a href="#"><img id="man" src="images/man.png"></a>
				
			</div>

			<div id="archive_content">



			</div>

			<div id="archive_buttons">
				<a href="#"><img class="archive_options" src="images/select_all.png"></a>
				<a href="#"><img class="archive_options" src="images/sort.png"></a>
				<a href="#"><img class="archive_options" src="images/find.png"></a>



			</div>
				


		</div>



		
		<script src="js/bootstrap.min.js"></script>




	</body>


</html>



