<!DOCTYPE html>
<html lang="en">
<head>
	<!--css--> 	
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans">
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

</head> <!--end of head-->


<body>
		<div id="container">

			<div id="status">
				<img id="status_bar" src="images/status_bar.png">
			</div>

			<div id="header">
				<a href="#"><img id="home_button" src="images/homepage.png"></a>
				<a href="#"><img id="setting" src="images/setting.png"></a>
				
			</div>

			<form id="love_quotes">
				<input type="radio" name="love_q" value="quote1">You have no idea how fast my heart beats when I see you.<br>
				<input type="radio" name="love_q" value="quote2">I still remember the feeling I felt when we first kissed.<br>
				<input type="radio" name="love_q" value="quote3">I think I&#39m gonna love you for a long long time. <br>
				<input type="radio" name="love_q" value="quote4">You will never love yourself half as much as I love you.<br>
				<input type="radio" name="love_q" value="quote5">Between our laughs, long talks, stupid fights, and jokes… I fell in love.<br>
				

			</form>




		</div>
		
		<script src="js/bootstrap.min.js"></script>


</body>


</html>



