<!DOCTYPE html>
<html lang="en">
<head>
	<!--css--> 	
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans">
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

	<!--jqueries and bubble settings-->
	<script src="js/jquery-1.11.0.min.js"></script>

</head> <!--end of head-->


	<body>
		<div id="container">

			<div id="status">
				<img id="status_bar" src="images/status_bar.png">
			</div>

			<div id="header5">
				<a href="#"><img id="home_button" src="images/homepage.png"></a>
				
			</div >

		<div id="submission_form">
			<form>
				<p class="form_titles">Goal:</p>
			
			 
				<input class= "form_fields" type="text" name="goal">
			
			
			

				<p class="form_titles">Current:</p>
			

				<input class= "form_fields" type="text" name="current">
			
				
		
			
				<p class="form_titles">Needed:</p>
				<input class= "form_fields" type="text" name="needed">
				
			
				<p class="form_titles">Percentage Complete:</p>
				<input class= "form_fields" type="text" name="complete">
				
				</form>

		</div>

		<a href="#"><img id="finish_button" src="images/finish.png"></a>
		</div>

			
	<script src="js/bootstrap.min.js"></script>	
</body>


</html>



