<!DOCTYPE html>
<html lang="en">
<head>
	<!--css--> 	
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans">
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

	<!--jqueries and bubble settings-->
	<script src="js/jquery-1.11.0.min.js"></script>
</head> <!--end of head-->

	<body>

		<div id="container">

			<div id="status">
				<img id="status_bar" src="images/status_bar.png">
			</div>

			<div id="header7">
				<a href="index.html"><img id="home_button" src="images/homepage.png"></a>
				
			</div>


			<div id="submission_form">

				<p class="text_titles">Enter:</p>
				
				<button id="bubble_suggestions" type="button" onclick="#">Bubble Suggestions</button>

			<form name="input" action="/submit_text" method="post">				
				<input class= "text_field" type="text" name="goal" />
				<input id="send_button" type='submit' />
			</form>


				

			<div id="capsule_button"><a href="index.html"><img src="images/capsule_button.png"></a></div>
		

		</div>



		

		<script src="js/bootstrap.min.js"></script>



	</body>


</html>



